@functions {
    private Microsoft.AspNetCore.Html.HtmlString RenderPage(string page, string name)
    {
        return new Microsoft.AspNetCore.Html.HtmlString("<a href =\"" + page + "\" >" + name + "</a>");
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body style="color:white; background-color:black">
    @{
        if (!string.IsNullOrEmpty((string)ViewData["User"]))
        {
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a asp-page="/Index" class="navbar-brand" style="padding:0px">
                            <img src="~/images/CiBitgif.gif" style="padding:0px" height="50" />
                        </a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            @{
                                if (string.Equals((string)ViewData["User"], "User"))
                                {
                                    <li>@RenderPage(string.Format("{0}={1}", "/UserHome?Token", ViewData["Token"]), "Home")</li>
                                    <li>@RenderPage(string.Format("{0}={1}", "/UserNewTransaction?Token", ViewData["Token"]), "New Transaction")</li>
                                    <li>@RenderPage(string.Format("{0}={1}", "/UserResearch?Token", ViewData["Token"]), "New Research")</li>
                                    <li>@RenderPage(string.Format("{0}={1}", "/UserTransactionList?Token", ViewData["Token"]), "Transaction History")</li>
                                    <li>@RenderPage(string.Format("{0}={1}", "/UserSettings?Token", ViewData["Token"]), "Settings")</li>
                                }
                                else if (string.Equals((string)ViewData["User"], "Bank"))
                                {
                                    <li>@RenderPage(string.Format("{0}={1}", "/BankConfirmUser?Token", ViewData["Token"]), "Confirm User")</li>
                                    <li>@RenderPage(string.Format("{0}={1}", "/BankConfirmResearch?Token", ViewData["Token"]), "Confirm Research")</li>
                                    <li>@RenderPage(string.Format("{0}={1}", "/BankWithdrawl?Token", ViewData["Token"]), "Confirm Withdrawl")</li>
                                }
                            }
                            <li><a asp-page="/About">About</a></li>
                            <li><a asp-page="/Contact">Contact</a></li>
                            <li><a asp-page="/Index">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        }
        else if(!string.Equals((string)ViewData["Title"], "Login") && !string.Equals((string)ViewData["Title"], "Welcome to CiBit"))
        {
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a asp-page="/Index" class="navbar-brand" style="padding:0px">
                            <img src="~/images/CiBitgif.gif" style="padding:0px" height="50" />
                        </a>
                    </div>
                </div>
            </nav>
        }
    }

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2020 - CiBit</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

     @RenderSection("Scripts", required: false)
</body>
</html>
