@model UserHomeModel
<div style="height:100px; left:300px">
        <span style="width: 100px; font-size:20px">Balance: </span>
        <span style="width: 100px; font-size:20px">@Model.UserTransation.user.CitationAmount</span>
        <i class="glyphicon glyphicon-bitcoin"></i>
    </div>
<div>
        <table id="myTable" class="table" cellspacing="0">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => Model.Transaction.Date)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Transaction.Receiver)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Transaction.Amount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Transaction.Research)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Transaction.Status)

                    </th>
                </tr>
            </thead>
            <tbody>
                @{foreach (var item in Model.UserTransation.TransactionList)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Receiver)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Amount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Research)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>