@page
@model CiBitWebApplication.Pages.BankConfirmResearchModel
@{
    ViewData["Title"] = "Confirm Research";
    ViewData["User"] = "Bank";
    ViewData["Token"] = Model.Token;
    while (Model.Loading)
    {
    }
}
<style>
    .wrap-div {
        height: 460px;
        left:100px;
    }

    .table{
        margin: auto;
    }
    .wrap-title{
        display: flex;
        justify-content: center;
    }
</style>

<div class="wrap-div">
    <div class="wrap-title">
        <h1>Confirm Research</h1>
    </div>
    <div>
            <table id="myTable" class="table" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Research.DateOfResearch)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Research.CiBitId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Research.ReseachName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Research.Status)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ResearchList.Research)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateOfResearch)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CiBitId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ReseachName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
       </div>
 </div>

