@page
@model CiBitWebApplication.Pages.UserRegistrationModel
@{
    ViewData["Title"] = "Registration";
    ViewData["Token"] = Model.Token;


    while (Model.Loading)
    {
    }
}
<style>
    .wrap-div {
        height: 460px;
    }
    .info-td{
        color:black;
    }
    .btn {
        color:black;
        width:150px;
    }
    .error-td{
        color:red;
    }
    .wrap-title, .wrap-div .wrap-btn {
        display: flex;
        justify-content: center;
    }
    .input-group-text, select, .form-control {
        margin: 7px 0px;
        width: 299px;
        height: 22px;
    }
    .wrap-div .wrap-btn {
        margin-right:40px;
    }
    .wrap-form {
        margin: auto;
    }
</style>

<div class="wrap-div">
    <div class="wrap-title">
        <h1>Registration</h1>
    </div>
    <form asp-page-handler="ProcessRequest" method="post">
        <table class="wrap-form">
            <tr>
                <td>
                    <span>First Name: </span>
                </td>
                <td class="info-td">
                    <input type="text" asp-for="FirstName" class="input-group-text">
                </td>
                <td class="error-td">
                    <label>@Model.ErrorMsgFn</label>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Middle Name: </span>
                </td>
                <td class="info-td">
                    <input type="text" asp-for="MiddleName" class="input-group-text">
                </td>
                <td class="error-td">
                    <label>@Model.ErrorMsgMn</label>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Surname: </span>
                </td>
                <td class="info-td">
                    <input type="text" asp-for="Surname" class="input-group-text">
                </td>
                <td class="error-td">
                    <label>@Model.ErrorMsgSn</label>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Date of birth: </span>
                </td>
                <td class="info-td">
                    <input type="date" asp-for="DOB" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                </td>
                <td class="error-td">
                    <label>@Model.ErrorMsgDob</label>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Password: </span>
                </td>
                <td class="info-td">
                    <input type="password" asp-for="Password" class="input-group-text">
                </td>
                <td class="error-td">
                    <label>@Model.ErrorMsgPass</label>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Confirm Password: </span>
                </td>
                <td class="info-td">
                    <input type="password" asp-for="ConfirmPassword" class="input-group-text">
                </td>
                <td class="error-td">
                    <label>@Model.ErrorMsgCoPass</label>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Email: </span>
                </td>
                <td class="info-td">
                    <input type="text" asp-for="Email" class="input-group-text">
                </td>
                <td class="error-td">
                    <label>@Model.ErrorMsgEm</label>
                </td>
            </tr>
            <tr>
                <td>
                    <span>University:</span>
                </td>
                <td class="info-td">
                    @Html.DropDownListFor(x => Model.University, Model.SelectList ,"Select university", 1)
)
                <td class="error-td">
                    <label>@Model.ErrorMsgUni</label>
                </td>
                </tr>
                <tr>
                    <td>
                        <span>Article: </span>
                    </td>
                    <td class="info-td">
                        <input type="text" asp-for="Article" class="input-group-text">
                    </td>
                    <td class="error-td">
                        <label>@Model.ErrorMsgArt</label>
                    </td>
                </tr>
            </table>
        <div class="form-group">
        </div>
        <div class="d-flex center-block login_container wrap-btn">
            <button type="submit" name="button" class="btn">Submit</button>
        </div>
    </form>
    </div>