@page
@model CiBitWebApplication.Pages.UserSettingsModel
@{
    ViewData["Title"] = "UserSettings";
    ViewData["User"] = "User";
    ViewData["Token"] = Model.Token;


    while (Model.Loading)
    {
    }
}
<style>
    .wrap-div {
        height: 460px;
    }

    .info-td {
        color: black;
    }

    .btn {
        color: black;
        width: 150px;
    }

    .error-td {
        color: red;
    }

    .wrap-title, .wrap-div .wrap-btn {
        display: flex;
        justify-content: center;
    }

    table {
        margin: auto;
    }
    
    .small-img{
        height:150px;
        width:150px;
    }

    .input-group-text, select {
        width: 300px;
        margin: 10px 0px;
        height: 22px;
    }

    .wrap-div .wrap-btn {
        margin-right: 125px;
    }
    .bi{
        width:40px;
        height:20px;
    }
</style>
@section scripts{
    <script src="~/lib/jquery/jquery2.min.js"></script>
    <script>

        $(document).ready(function () {
            var token = $("#Token").val();
            $.getJSON(`?handler=UserSettings&Token=${token}`, (data) => {
                $("#Token").val(data.tokenGet);
                $("#Email").val(data.email);
                $("#University").val(data.university)
            });
        });


        $(".small-img").on("click", function () {
            $("#PicturePath").val($(this).attr('src'));
        });
        function ChangeTable(goto) {
            var img = $('#left').prop('src');
            $.getJSON(`?handler=AvatarImages&img=${img}&next=${goto}`, (data) => {
                $('#left').attr('src', '/images/avatar/'+ data.left);
                $('#middle').attr('src', '/images/avatar/' + data.mid);
                $('#right').attr('src', '/images/avatar/' + data.right);
            });
        }
    </script>
}
<div class="wrap-div">
    <div class="wrap-title">
        <h1>Settings</h1>
    </div>
    @Html.HiddenFor(model => model.Token, new { id = "Token" })
    <table>
        <tr>
            <td>
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg" onclick="ChangeTable(0)">
                    <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z" />
                </svg>
            </td>
            <td>
                <img id="left" class="small-img" src="/images/avatar/man1.jpg" />
            </td>
            <td>
                <img id="middle" class="small-img" src="/images/avatar/man2.jpg" />
            </td>
            <td>
                <img id="right" class="small-img" src="/images/avatar/man3.jpg" />
            </td>
            <td>
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg" onclick="ChangeTable(1)">
                    <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
                </svg>
            </td>
        </tr>
    </table>
    <form asp-page-handler="ProcessRequest" method="post">
        @Html.HiddenFor(model => model.PicturePath, new { id = "PicturePath" })
        <table>
            <tr>
                <td>
                    <span>Password: </span>
                </td>
                <td class="info-td">
                    <input type="password" asp-for="Password" class="input-group-text">
                </td>
                <td class="error-td">
                    <label>@Model.ErrorMsgPass</label>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Confirm Password: </span>
                </td>
                <td class="info-td">
                    <input type="password" asp-for="ConfirmPassword" class="input-group-text">
                </td>
                <td class="error-td">
                    <label>@Model.ErrorMsgCoPass</label>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Email: </span>
                </td>
                <td class="info-td">
                    <input type="text" asp-for="Email" class="input-group-text">
                </td>
                <td class="error-td">
                    <label>@Model.ErrorMsgEm</label>
                </td>
            </tr>
            <tr>
                <td>
                    <span>University:</span>
                </td>
                <td class="info-td">
                    @Html.DropDownListFor(x => Model.University, Model.SelectUniversitiesList, "Select university", 1)
                <td class="error-td">
                    <label>@Model.ErrorMsgUni</label>
                </td>
            </tr>
        </table>
        <div class="form-group">
        </div>
        <div class="d-flex center-block login_container wrap-btn">
            <button type="submit" name="button" class="info-td">Submit</button>
        </div>
    </form>
</div>