@page
@model CiBitWebApplication.Pages.UserHomeModel
@{
    ViewData["Title"] = "Home";
    ViewData["User"] = "User";
    ViewData["Token"] = Model.Token;

    while (Model.Loading )
    {
    }
}
<style>

    .wrap-div {
        height: 460px;
    }
    .personl-info {
        left: 100px;
        display: flex;
        flex-direction: row;
        margin-bottom: 100px;
    }
    .table-info {
       flex:2
    }
    .more-info{
        display:inline;
        flex:1;
    }
    .avatar {
        width: 150px;
        height: 150px;
    }
    .span-info {
        width: 100px;
        font-size: 20px;
    }
    #balance-info{
        display:inline;
    }
</style>
<div class="wrap-div">
    <div class="personl-info">
        <div class="more-info">
            <img class="avatar" src="@Model.UserTransaction.user.Picture" />
        </div>
        <table class="table-info">
            <tr>
                <td>
                    <div>
                        <h6>Name: </h6>
                    </div>
                </td>
                <td>
                    <div>
                        <h6>@Model.FullName</h6>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <h6>Email: </h6>
                    </div>
                </td>
                <td>
                    <div>
                        <h6>@Model.UserTransaction.user.Email</h6>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <h6>Balance: </h6>
                    </div>
                </td>
                <td>
                    <div>
                        <h6 id="balance-info">@Model.UserTransaction.user.Balance</h6>
                        <i class="glyphicon glyphicon-bitcoin"></i>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div>
        <table id="myTable" class="table" cellspacing="0">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => Model.Transaction.Date)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Transaction.Receiver)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Transaction.Amount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Transaction.Research)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Transaction.Status)

                    </th>
                </tr>
            </thead>
            <tbody>
                @{foreach (var item in Model.UserTransaction.TransactionList)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Receiver)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Amount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Research)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
